<div class="container" setBackground>
   <h2>custom directive</h2>
</div>

<div appHover>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis et veritatis corrupti placeat porro repellendus asperiores, blanditiis dolor nesciunt? Iure eum quia sapiente quos soluta illum rerum sint nobis. Porro.</p>
</div>

<div appBetterHighlightDirective>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione vitae adipisci aliquid non similique provident nihil, quaerat aut totam beatae deserunt nisi voluptas, quidem odio fugiat tenetur deleniti nobis!</p>
</div>