
<!-- string interpolation -->
<h2>{{title}}</h2>

<!-- property binding -->
<img [src]="image" alt="angular" width="800px" height="500px">


<!-- ngClass for search-div -->
<div class="search-div" [ngClass]="{changeBg: searchValue!=''}">
    <span><b>Search:</b></span>
    <!-- event binding -->
    <!-- <input type="text" (input)="changeSearchValue($event)"> -->
    <!-- Two way data binding -->
    <input  type="text" [(ngModel)]="searchValue">
    <!-- ngIf -->
    <span *ngIf="searchValue !='' ">you search for "{{searchValue}}"</span>
</div>